
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14% 0%;
  }
  
.active {
  border-bottom: 3px solid #00baf2 !important;
  border-radius: 3px !important; 
}
.getFlexCharts{
  display: flex;
}