/* Landing CSS */

.landing {
  margin: 10%;
  margin-bottom: 1%;
  margin-top: 1%;
}
nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
}
.nav-link {
  display: inline;
  float: left;
}



.nav-link a {
  display: block;
  text-decoration: none;
  color: black !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
  transition: 0.3s;
}

.nav-link a:hover {
  border-bottom: 3px solid #00baf2;
  border-radius: 3px;
}

.nav-btn {
  border-bottom: 3px solid transparent !important;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14% 0%;
}

/* Section-1 CSS*/
.quick-create {
padding: 20px;
  display: block;
  width: 100vw;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: #00baf2;
  bottom: 0px;
  position: fixed;

}
